body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    font-family: 'Istok Web', sans-serif;  /* Se aplica la fuente en el body */
    flex-direction: column; 
    position: center;
}

.card {
    width: 40vw;  /* Utilizamos un valor en vw para que el card ocupe un 60% del ancho de la pantalla */
    height: 70vh; /* Ajustamos la altura también en vh (view height) para un diseño más adaptable */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 100px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alinea el contenido desde la parte superior */
    align-items: center;
    border: 2px solid #ddd; /* Un borde sutil */
}


.card h1 {
    font-size: 2.5em;
    margin: 0;  /* Elimina el margen entre los dos h1 */
    text-align: center;  /* Centra el texto */
    font-weight: bold;   /* Hace el texto en negrita */
}

p {
    font-size: 1em;
    color: #0c0000;
    margin: 10px;  /* Elimina el margen */
}


.div-p {
    margin-top: 40px;  
    text-align: center;  /* Centra el contenido dentro del div */
}


/* ICONOS RED SOCIAL */


.social-icons {
    display: flex;
    justify-content: space-around;  /* Distribuye los íconos de manera equitativa */
    align-items: center;
    margin-top: 90px;  /* Espacio superior */
    margin-bottom: 30px;  /* Espacio inferior para separar los íconos del contenido de abajo */
}

.social-icons i {
    font-size: 4rem;  /* Tamaño grande de los íconos */
    color: #000;  /* Color blanco y negro */
    margin: 0 15px;  /* Margen horizontal entre los íconos (ajústalo según lo necesites) */
    transition: color 0.3s ease;  /* Efecto suave al cambiar color */
}

.social-icons i:hover {
    color: #e29d07;  /* Color al pasar el mouse */
}

